body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff7e6;
    color: #333;
}

h1, h2, h3 {
    margin: 0;
    font-weight: 700;
}

header {
    background: #d35400;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: bold;
    transition: 0.3s;
}

header nav a:hover {
    opacity: 0.8;
}

.hero {
    text-align: center;
    padding: 80px 20px;
    background: url("pixilart-drawing.png") center/cover no-repeat;
    color: rgb(255, 255, 255);width:100%;
height:150px;
}

.hero h2 { font-size: 36px; }
.hero p { font-size: 20px; margin-bottom: 20px; }

.btn {
    background: #e67e22;
    padding: 12px 25px;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-size: 18px;
    transition: 0.3s;
}

.btn:hover {
    background: #cf711f;
}

.menu {
    padding: 60px 20px;
    text-align: center;
}
 
.pizza-card {
    background: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s;width:500px;display:flex;
flex-wrap:wrap;justify-content:center;
}

.pizza-card:hover {
    transform: scale(1.05);
}

.pizza-card img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.price {
    display: block;
    margin-top: 8px;
    font-size: 20px;
    font-weight: bold;
    color: #d35400;
}

.about, .contact {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background: #d35400;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}

@media(max-width: 600px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header nav a {
        display: inline-block;
        margin: 8px;
    }

    .hero h2 { font-size: 28px; }
    .hero p { font-size: 18px; }
}
